<div class="row">
  <div class="items-container" ng-repeat="item in menu.items">
    <div class="col-md-4">
      <img class="item_image" ng-src="images/{{item.img}}" alt="{{item.name}}">
      <h4>{{item.name}}</h4>
      <p>
        Rating: {{item.rating}} <span ng-if="item.rating > 4.0" ng-class="{highlight:
        item.rating > 4.5}"> - People love this item!</span>
        <button ng-click="menu.increment(item)">+</button>
        <button ng-click="menu.decrement(item)">-</button>
      </p>
      <p>Image: {{item.img}}</p>
      <div class="well">
        <select ng-model="item.meal" name="">
          <option value="breakfast">Breakfast</option>
          <option value="lunch">Lunch</option>
          <option value="dinner">Dinner</option>
        </select>
        <button ng-click="menu.chooseItem(item.meal, item.name)">Select Item</button>
      <!-- <p>
        <textarea ng-model="menu.newReview" name="menu.review" rows="3" cols="40">
        </textarea>
      </p>
      <p>
        {{menu.newReview}}
        <span ng-if="!menu.newReview"> Why not write a review!</span> -->
    </div>
  </div>
</div>
